body{
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.753), rgb(54, 54, 54));
}
#coluna1{
    width: fit-content; 
    display: inline-block;
    border-radius: 10px;
    padding-left: 24.7rem;
}
#coluna2{
    width: fit-content; 
    display: inline-block;
    border-radius: 10px;
    padding-left: 10rem;
}
#coluna3{
    width: fit-content; 
    display: inline-block;
    border-radius: 10px;
    padding-left: 10rem;
}
header{
    text-align: center;
    font-size: 35px;
    background-color: aliceblue;
    max-width: fit-content;
    margin: 0 auto;
    border-radius: 5px;
}

#segunda{
    background-color: rgb(205, 164, 243);
    max-width: fit-content;
    border-radius: 5px;
    
}
#terça{
    background-color: rgb(145, 155, 248);
    max-width: fit-content;
    border-radius: 5px;
}
#quarta{
    background-color: rgb(248, 142, 252);
    max-width: fit-content;
    border-radius: 5px;
}
input[type="checkbox"]
{
    width: 2em;
    height: 2rem;
    accent-color: green; 
}

  